.select-wrapper{
  position: relative;
}

.select-wrapper::before {
    content: "something";
    color: transparent;
    /* font-size: 20px; */
    background-image: url(https://flagcdn.com/w320/au.png);
    background-size: 70%;
    background-repeat: no-repeat;
    height: 50px;
    position: absolute;
    right: 35px;
    top: 0.375rem;
}